ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #33393b;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}
.active {
	background-color: #4CAF50
}
body {
	background-color: #2e3436;
	@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
	color: #ffffff;
	margin-left: 0;
	margin-right: 0;
	font-family: 'Ubuntu Mono', monospace;
	
}
h3 {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 1%;
}
p {
	margin: 2%;
}
h1{
	@import url('https://fonts.googleapis.com/css?family=Pacifico');
	margin-top: 100px;
	text-align: center;
	font-family: 'Pacifico', cursive;
}
}
#monospace {
	font-family: Ubuntu Mono, Consolas;
}
