ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #33393b;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}
.active {
	background-color: #4CAF50
}
body {
	background-color: #2e3436;
	@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
	color: #ffffff;
	margin: 0;
	text-align: Center;
	font-family: 'Ubuntu Mono', monospace;
	
}
p {
	
}
h1{
	border-style: solid;
	border-width: 5px;
	border-color: #ffffff;
	margin: auto 2%;
	margin-top: 10px;
}
title{
	Margin-top: 10%;
}
#monospace {
	font-family: Ubuntu Mono, Consolas;
}
